{% extends 'layout.html' %}

{% block body %}
      <br>
       <h1>Song-y Side Up!</h1>
      <br>
      <br>
       <img src="BreakfastFace.png" width="150" height="100">
      <br>
      <!--who we are-->
      <!--how we got the idea-->
      <!--why this cause is important to us-->
      <!--things you learned while coding-->
      <a href="./index.html">Music</a>
      <a href="./aboutme.html">About Us!</a>
      <h1>Who Are We?</h1>
      <p> We are <strong>Songy Side Up</strong>, created by us sisters truly <b>Jarelle and Jynelle Graciela Boac!</b> <br> <br> We got our idea to create this website because we express a lot of feelings throughout the years. This was important so we can inspire people to cope through tough times in their daily lives. Before we created our website, we learned how to code programs on the computer using various languages, including <em> Python </em>, <em>Java</em>, <em>Alice</em>, <em>HTML/CSS</em>, and <em>Swift!</em> Enjoy exploring our website! </p>

      <br>
<div class="container">
		
		<div class="frame">
				<div class="frying-pan">
					<div class="frying-pan-cable"></div>
						<div class="egg egg-left">
							<div class="detail-egg"></div>
							<div class="detail-egg-two"></div>
						</div>
						<div class="egg egg-right">
							<div class="detail-egg"></div>
							<div class="detail-egg-two"></div>
						</div>
							
							<div class="effect-bacon">
								<div class="bacon-mask"></div>
									<div class="bacon">
										<div class="bacon-strip"></div>
											<div class="detail-bacon-one"></div>
											<div class="detail-bacon-two"></div>
											<div class="detail-bacon-three"></div>
											<div class="detail-bacon-four"></div>
												<div class="detail-strip"></div>
									</div>								
							</div>
				</div>
					<div class="lighter"></div>
					<div class="fire fire-one">
						<div class="fire-int"></div>
					</div>
					<div class="fire fire-two">
						<div class="fire-int"></div>
					</div>
					<div class="fire fire-three">
						<div class="fire-int"></div>
					</div>

						<div class="coffee"></div>


		</div>
		
	</div>
  <br>

{% endblock %}

<!--create a file that will hold the data for the articles
and then we can pull the articles out of that file and into the page-->