
<br>
<h1>Song-y Side Up!</h1>
<br>
<br>
 <img src="BreakfastFace.png" width="150" height="100">
<br>
<a href="./index.html">Music</a>
<a href="./aboutme.html">About Us!</a>
<h1>Overview</h1>
<ul>
<li><a href="#introduction">Introduction</a></li>
<li><a href="#mentalhealth">Mental Health</a></li>
<li><a href="#media">Media</a></li>
</ul>
<div id="introduction">
<h2>Music</h2>
<p>Our music consists of many songs with feeling on it in many genres such as pop, rock, country, classical, techno, funk, and much more! Music has been proven to change your mood and have the power to uplift. We believe that starting the day off with your favorite tracks and breakfast can maybe make someone's day even a little sunnier.</p>
<h3>Social and Emotional Skills</h3>
 <ul>
   <li>Blue Zone</li>
   <li>Green Zone</li>
   <li>Yellow Zone</li>
   <li>Red Zone</li>
<h3>Hotlines</h3>
 <p>Having suffered anxiety or depression? Then call us! Just call the number (201) 624-8937!</p>
</div>
<div id="#mentalhealth">
<h2>Disorders</h2>
<ul>
  <li>Panic disorder</li>
  <li>Obsessive-compulsive disorder</li>
  <li>Phobias</li>
  <li>Depression</li>
  <li>Bipolar disorder</li>
  <li>Eating disorders</li>
  <li>Personality disorders</li>
  <li>Post-traumatic stress disorder</li>
  <li>Psychotic disorders, including schizophrenia</li>
</ul>
<h3>Symptoms</h3>
<ol>
  <li>Feeling sad or lonely</li>
  <li>Confused or pressured thinking</li>
  <li>Having no friends</li>
  <li>Increasing mood changes</li>
  <li>Tiredness or trouble sleeping</li>
  <li>Nightmares, flashbacks, and/or hallucinations</li>
  <li>Unable to cope with daily problems, including war events, COVID-19, having moved to a new city, or even death</li>
  <li>Out-of-control violence</li>
  <li>Major changes in your diet</li>
</ol>
<h3>Treatments</h3>
 <p>Your treatment depends of what disorder you've suffered so there is a variety of them, including visiting a local treatment squad, taking medications, psychotherapy, and participating to take care of yourself.</p>
<div id="media">
<h2>Media</h2>
</div>
  <!--{% include 'includes/_navbar.html' %}
  <div class="container">
      {% block body %}{% endblock %}
  </div>-->
  <!--<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>-->


<br>
<div class="container">
  
  <div class="frame">

          <div class="frying-pan">
              <div class="frying-pan-cable"></div>
                  <div class="egg egg-left">
                      <div class="detail-egg"></div>
                      <div class="detail-egg-two"></div>
                  </div>
                  <div class="egg egg-right">
                      <div class="detail-egg"></div>
                      <div class="detail-egg-two"></div>
                  </div>
                      
                      <div class="effect-bacon">
                          <div class="bacon-mask"></div>
                              <div class="bacon">
                                  <div class="bacon-strip"></div>
                                      <div class="detail-bacon-one"></div>
                                      <div class="detail-bacon-two"></div>
                                      <div class="detail-bacon-three"></div>
                                      <div class="detail-bacon-four"></div>
                                          <div class="detail-strip"></div>
                              </div>								
                      </div>
          </div>
              <div class="lighter"></div>
              <div class="fire fire-one">
                  <div class="fire-int"></div>
              </div>
              <div class="fire fire-two">
                  <div class="fire-int"></div>
              </div>
              <div class="fire fire-three">
                  <div class="fire-int"></div>
              </div>

                  <div class="coffee"></div>


  </div>
  
</div>
<br>
